<app-navbar></app-navbar>

<div class="" *ngIf="quizService.qns">
    <div class="full-container">

        <!-- Shows timer -->
        <span class="timer">Time Elasped: {{quizService.displayTimeElasped()}} </span>
        <!-- Shows progress bar -->
        <div class="progress">
            <div class="determinate" [style.width.%]="(quizService.qnProgress+1)*10"></div>
        </div>

        <div class="main-card">

            <div class="question-part white-text">
              
                <div class="question-part-header">
                    <span class="">{{quizService.qnProgress+1 + '.'}}</span>
                    <p>{{quizService.qns[quizService.qnProgress].Question}}</p>
                </div>

              <div *ngIf="quizService.qns[quizService.qnProgress].ImageName!=null">
                  <img class="center" [src]="quizService.rootUrl+'/Images/'+quizService.qns[quizService.qnProgress].ImageName"
                  style="width:350px; height:200px">
              </div>
            </div>

            <div class="answer-container">
                <ul class="collection answer">
                    <ng-container *ngFor="let option of quizService.qns[quizService.qnProgress].Options; let i = index">
                        <li *ngIf="option != null" class="collection-item button-55" (click)="Answer(quizService.qns[quizService.qnProgress].QuestionId,i)">
                            {{option}}
                        </li>
                    </ng-container>
                </ul>
            </div>
        </div>
    </div>
</div>
