.nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    position: fixed;
    width: 100%;
    border: 1px;
    font-size: 18px;
    font-family: 'Trocchi', serif;
    font-weight: normal;
    /* line-height: 10px; */
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.nav-bar:hover {
    background-color: #fe5ce8d2;
}
.logout {
    margin-left: 1400px;
    font-size: 20px;
    background-color: #f757527e;
    border-radius: 4px;
}

.logout:hover {
    background-color: #f75852f1;
}

.quiz {
    color: white;
    font-size: 40px;
    position: fixed;
}

a {
    display: block;
    padding: 8px;
    color: white;
    text-decoration: none;
}